$backColor: #cff;
$linkColor: #09c;

.container {
  width: 710px;
}

body {
  background: $backColor;
}

header {
  padding-top: 20px;
  
  img {
    padding: 1em;
    background: #fff;
  }
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  
  h1 {
    font-size: 200%;
  }
}

/* Links */

a {
  color: $linkColor;
  text-decoration: none;
  
  &:hover {
    color: darken($linkColor, 20%);
    text-decoration: underline;
  }
  
  &:visited {
    color: darken($linkColor, 20%);
  }
}

/* Navigation */

nav {
  float: right;
  background-color: #fff;
  padding: 0 0.7em;
  white-space: nowrap;
  
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;
      
      a {
        padding: 0 5px;
        font-weight: bold;
        
        &:visited {
          color: $linkColor;
        }
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Sign-up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  
  nav {
    float: none;
  }
}

div {
  &.field {
    margin-bottom: 10px;
  }
  &.actions {
    margin-bottom: 10px;
  }
}

/* errors */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
  
  label {
    color: #fff;
  }
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }
  
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }
  
  ul {
    li {
    font-size: 12px;
    list-style: square;
    }
  }
}

ul.users {
  margin-top: 1em;
  
  li {
    list-style: none;
  }
}

/* microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
  
  tr {
    height: 70px;
    
    td {
      border-top: 1px solid #ccc;
      vertical-align: top;
      
      &.gravatar {
        width: 50px;
      }
      &.micropost {
        padding-top: 10px;
        
        span.timestamp {
          display: block;
          font-size: 85%;
          color: #666;
        }
      }
    }
  }
}

div.user_info {
  img {
    padding-right: 0.1em;
  }
  a {
    text-decoration: none;
  }
  span.user_name {
    position: absolute;
  }
  span.microposts {
    font-size: 80%;
  }
}

form.new_micropost {
  margin-bottom: 2em;
  
  textarea {
    height: 4em;
    margin-bottom: 0;
  }
}
